<div class="faq__item @@open">
  <button class="faq__head js-faq-toggle" type="button" aria-expanded="@@expanded">
    <span class="faq__q">@@num. Сколько будет стоить ваша работа, если у меня нет денег?</span>
    <span class="faq__icon" aria-hidden="true">
      <svg class="faq__icon-bar"><use href="#icon-minus"></use></svg>
      <svg class="faq__icon-bar faq__icon-bar--v"><use href="#icon-minus"></use></svg>
    </span>
  </button>
  <div class="faq__body">
    <div class="faq__body-inner">
      <div class="faq__content">
        <p class="faq__text">Наше дело не так однозначно, как может показаться: граница обучения кадров позволяет выполнить важные задания по разработке стандартных подходов. Наше дело не так однозначно, как может показаться: граница обучения кадров позволяет выполнить важные задания</p>
        <p class="faq__text">Наше дело не так однозначно, как может показаться: граница обучения кадров позволяет выполнить важные задания по разработке стандартных подходов. Наше дело не так однозначно, как может показаться: граница обучения кадров позволяет выполнить важные задания</p>
      </div>
    </div>
  </div>
</div>
