<div class="select" data-select>
  <button class="select__trigger" type="button" aria-haspopup="listbox" aria-expanded="false">
    <span class="select__value" data-select-value data-placeholder="@@placeholder">@@placeholder</span>
    <svg class="select__chevron" aria-hidden="true"><use href="#icon-chevron"></use></svg>
  </button>
  <input class="select__field" type="hidden" name="@@name" data-select-input value="" />
  <div class="select__dropdown">
    <ul class="select__list" role="listbox" tabindex="-1">
      <li class="select__option" role="option" data-value="t4">TENET T4</li>
      <li class="select__option" role="option" data-value="t6">TENET T6</li>
      <li class="select__option" role="option" data-value="t7">TENET T7</li>
      <li class="select__option" role="option" data-value="t8">TENET T8</li>
      <li class="select__option" role="option" data-value="t9">TENET T9</li>
    </ul>
  </div>
</div>
