@use 'variables' as *;
@use 'functions' as *;

@mixin upto($bp) {
  @media (max-width: rem($bp) - rem(0.2px)) {
    @content;
  }
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba($color-black, 0.2) transparent;

  &::-webkit-scrollbar {
    width: rem(8px);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: rem(2px) solid transparent;
    border-radius: rem(4px);
    background: rgba($color-black, 0.2);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color-black, 0.4);
    background-clip: content-box;
  }
}
