@use 'sass:color';
@use '../base/variables' as *;
@use '../base/functions' as *;

.article {
  h2,
  h3,
  h4 {
    font-weight: 600;
    margin-bottom: rem(24px);

    &:not(:first-child) {
      margin-top: rem(48px);
    }
  }

  h2 {
    font-size: rem(32px);
  }

  h3 {
    font-size: rem(24px);
  }

  h4 {
    font-size: rem(20px);
  }

  p {
    font-size: rem(14px);
    line-height: 1.7;
    color: color.adjust($color-text, $lightness: 25%);

    & + p {
      margin-top: rem(16px);
    }
  }
}
