@use '../base/variables' as *;
@use '../base/functions' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: rem(8px);
  font-size: rem(14px);
  color: $color-black;

  padding-block: rem(80px) rem(60px);

  &--center {
    justify-content: center;
  }
  &__link,
  &__sep {
    opacity: .5;
  }

  &__link:hover {
    color: $color-black;
    opacity: 1;
  }

  &__current {
    color: $color-black;
    opacity: 1;
  }
}
