@use '../base/variables' as *;
@use '../base/functions' as *;
@use '../base/mixins' as *;

.doc-text {
  display: flex;
  flex-direction: column;
  gap: rem(64px);

  &__row {
    display: grid;
    grid-template-columns: minmax(0, 300px) 1fr;
    column-gap: rem(56px);
    align-items: start;
  }

  &__heading {
    font-size: rem(16px);
    font-weight: 600;
    line-height: 1.35;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(16px);

    p {
      font-size: rem(14px);
      line-height: 1;
      letter-spacing: 0;
      opacity: 0.8;
      text-align: justify;
      text-box-trim: trim-both;
      text-box-edge: cap alphabetic;
    }
  }

  @include upto($bp-mobile) {
    gap: rem(40px);

    &__row {
      grid-template-columns: 1fr;
      row-gap: rem(20px);
    }

    &__content p {
      line-height: 1.5;
      text-align: left;
    }
  }
}
