@use '../base/variables' as *;
@use '../base/functions' as *;

.footer {
  background: $color-black;
  color: $color-white;

  &__inner {
    min-height: rem(420px);
    display: grid;
    place-items: center;
  }

  &__placeholder {
    font-size: rem(40px);
    letter-spacing: 0.1em;
  }
}
